body {
    background: linear-gradient(bottom, rgba(0,0,200,.4), rgba(0,0,150,.8));
  background: -webkit-linear-gradient(bottom, rgba(0,0,200,.4), rgba(0,0,150,.8));
  background: -moz-linear-gradient(bottom, rgba(0,0,200,.4), rgba(0,0,150,.8));
    margin: 10px 30px;
}

nav {
    background-color: lightcyan;
}

#socialmedia {
    display: flex;
    justify-content: flex-end;
}

#socialmedia a {
    padding: 10px;
}

header {
    background-color: aliceblue;
}

#intro {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#personalbrand {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50vh;
    /* border-radius: 12px; */
}

#skills {
    background-color: white;
    height: 50vh;
    
}

ul {
    list-style: none;
}

#skills ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 50px;
    padding: 0;
    
}

#skills div {
    
}

#skills li {
    background-color: gray;
    padding: 50px;
    border-radius: 12px;
    margin: 0 30px;
    text-align: center;
}

#skills h3 {
    text-align: center;
}

#work {
    text-align: center;
    height: 50vh;
}

footer {
    background-color: cyan;
    text-align: center;
}
