body {
    background-color: azure;
    margin: 10px 30px;
}

nav {
    background-color: lightcyan;
}

#socialmedia {
    display: flex;
    justify-content: flex-end;
}

#socialmedia a {
    padding: 10px;
}

header {
    background-color: aliceblue;
}

#intro {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#personalbrand {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#skills {
    background-color: gray;
    
}

ul {
    list-style: none;
}

#skills ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

#skills h3 {
    text-align: center;
}

footer {
    background-color: cyan;
    text-align: center;
}
