html {
    scroll-behavior: smooth;
  }

body {
    background: linear-gradient(bottom, rgba(0,0,200,.4), rgba(0,0,150,.8));
  background: -webkit-linear-gradient(bottom, rgba(0,0,200,.4), rgba(0,0,150,.8));
  background: -moz-linear-gradient(bottom, rgba(0,0,200,.4), rgba(0,0,150,.8));
    margin: 10px 30px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 70px;
    color: lightblue;
}

h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
    color: lightblue;
}
p, li, a {
    font-family: 'Lato', sans-serif;
    color: rgb(188, 224, 236);
}

#socialmedia {
    display: flex;
    justify-content: flex-end;
}

#socialmedia a {
    padding: 10px;
    text-decoration: none;
}

header, article {
    border-bottom: 1px solid white;
    margin: 10px;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}

#personalbrand {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50vh;
}

#personalbrand p {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    padding: 50px 0;
}

#skills {
    height: 60vh;
    margin: 20px 0;
}

ul {
    list-style: none;
}

#skills ul {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 50px;
    padding: 0;
    
}

#skills li {
    background-color: rgb(204, 124, 204);
    padding: 50px;
    border-radius: 12px;
    margin: 0 30px;
    text-align: center;
    
}

#skills a {
    text-decoration: none;
}

#skills li:hover {
    background-color: darkslateblue;
    border: 1px solid lightblue;
}

a:hover {
    color: white;
}

#skills h1 {
    text-align: center;
}

#work {
    text-align: center;
    height: 100vh;
    margin: 20px 0;
}

#work div {
    margin: 50px 0;
    padding-top: 10px;
}

#work img {
    max-width: 20%;
    max-height: 20%;
    border-radius: 12px;
    
}

#work img:hover {
    max-width: 25%;
}

/* #memorygame {
    height: 200px;
  background-size: cover;
  background-image: url("memorygame.png");
  background-size: cover;
} */

footer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

button[type="button"] {
    background-color: rgb(204, 124, 204);
    color: lightblue;
    border: 1px solid rgb(192, 117, 192);
  }
